---
title: "Google Maps Test Page"
layout: "base.njk"
---
<!-- Tutorial https://www.freecodecamp.org/news/learn-eleventy/ -->

<h1>Google Map Tests</h1>

<p>Go to the individual pages in the navigation above.</p>

<script src="{{ '/js/index.js'|url|safe}}"></script>
