---
title: "Google Maps Test Page"
layout: "base.njk"
---
<!-- Tutorial https://www.freecodecamp.org/news/learn-eleventy/ -->

<h1>Google Map Tests</h1>
<h2>Map 1</h2>
<div id="map1" class="mapContainer"></div>
<h2>Map 2</h2>
<div id="map2" class="mapContainer"></div>
<script src="{{ 'js/index.js'|url|safe}}"></script>
