---
title: "Infowindow Test Page"
layout: "base.njk"
---
<!-- Tutorial https://www.freecodecamp.org/news/learn-eleventy/ -->

<h1>InfoWindow test</h1>
<div id="map1" class="mapContainer"></div>

<script src="{{ '/js/infowindow.js'|url|safe}}"></script>
