---
title: "Marker Cluster Test Page"
layout: "base.njk"
---
<!-- Tutorial https://www.freecodecamp.org/news/learn-eleventy/ -->

<h1>Marker Cluster test</h1>
<div id="map1" class="mapContainer"></div>

<script src="{{ '/js/marker-cluster.js'|url|safe}}"></script>
