---
title: "Polyline Test Page"
layout: "base.njk"
---
<!-- Tutorial https://www.freecodecamp.org/news/learn-eleventy/ -->

<h1>Polyline test</h1>
<div id="map1" class="mapContainer"></div>

<script src="{{ '/js/polyline.js'|url|safe}}"></script>
